.main-page {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.hero-content {
    flex: 1;
    text-align: left;
}

.hero-title {
    font-size: 36px;
    color: #2ecc71;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 20px;
    color: #444;
    margin-bottom: 30px;
}

.get-started-button {
    background-color: #2ecc71;
    color: #fff;
    padding: 12px 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.get-started-button:hover {
    background-color: #27ae60;
}

.hero-image {
    max-width: 100%;
    height: auto;
}

.details-section,
.features-section {
    margin-bottom: 60px;
}

.details-section h2,
.features-section h2 {
    font-size: 28px;
    color: #2ecc71;
    /* Green color */
    margin-bottom: 40px;
    margin-top: 20px;
}

.features-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

.feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature {
    position: relative;
    width: calc(25% - 20px);
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    margin: 10px;
    max-width: calc(25% - 20px);
}